body {
  display: flex;
  background-color: azure;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
}

textarea {
  display: flex;
  width: 25vw;
  height: 20vh;
  justify-content: center;
  margin: 0 auto;
  resize: vertical;
}


#preview-border {
  display: inline-block;
  border: 2px solid;
  justify-content: center;
  border-radius: 2px;
  justify-items:center;
  width: 50vw;
  

}

img {
  width: 400px;
}