body {
  display: flex;
  background-color: azure;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
}

textarea {
  width: 14.5vw;
  height: 10vh;
}


#preview-border {
  display: block;
  border: 1px solid;
  justify-content: center;
  border-radius: 2px;
  justify-items:center;
  width: 100vw;


}

img {
  width: 400px;
}